/*
화이트+골드
화이트+그린
네이비+실버
*/

* {
  box-sizing: border-box;
  user-select: none;
}

:root {
  display: flex;
  justify-content: center;
  background-color: rgb(76, 76, 76);
}

body {
  margin: 0;
  padding: 0;
}
